<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.zxdc.http.library" >

    <application
        android:name=".HttpApplication">

        <activity android:name=".Http_MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>
</manifest>
